/*sm 576px
md 768px
lg 992px
xl 1200px
*/
@media only screen and (min-width: 576px) {
  section.about .about__img {
    width: 100%;
    left: 0;
  }
  section.about .about__img img {
    width: 80%;
  }
  section.work .work__images.desktop-mobile .desktop {
    bottom: 0;
    height: 110%;
    left: 50%;
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .menu {
    height: 100vh;
    min-width: unset;
    width: 100%;
    right: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px;
  }
  .menu ul {
    margin-top: 0;
    margin-bottom: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 32px;
    line-height: 1;
    text-align: center;
  }
  .menu ul li a {
    padding: 0 16px;
  }
  nav.mobile {
    display: none;
    visibility: hidden;
  }
  nav.pc {
    position: fixed;
  }
  section.hero {
    height: 100vh;
  }
  section.hero .hero__text {
    padding: 0 0 0;
  }
  section.about .about__img img {
    width: 70%;
  }
  footer {
    padding: 80px 0 80px;
  }
  section.work {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  section.work .work__text {
    padding: calc(15vh + 80px) 32px;
    padding-left: 0;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  section.work .work__images {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  section.work .work__images.desktop-mobile .desktop {
    bottom: 0;
    left: 0;
    height: auto;
    width: 90%;
    max-width: 40vh;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  section.work .work__images.desktop-mobile .mobile {
    bottom: -5%;
    right: 45%;
    height: auto;
    width: 30%;
    max-width: 20vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  section.work .work__images.tiles * {
    width: 50%;
    max-width: 35vh;
    height: auto;
    top: 50%;
    left: 50%;
  }
  section.work .work__images.tiles *:first-child {
    -webkit-transform: translate(-80%, -80%);
            transform: translate(-80%, -80%);
  }
  section.work .work__images.tiles *:last-child {
    -webkit-transform: translate(-30%, -30%);
            transform: translate(-30%, -30%);
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 96px;
  }
  .container {
    max-width: 900px;
  }
  section.hero .hero__text .sub {
    font-size: 24px;
  }
  section.hero .swiper-container .swiper-slide .swiper-slide__text {
    font-size: 18px;
  }
  section.hero .scroll-down {
    display: block;
    visibility: 1;
  }
  section.hero .scroll-down .mousey {
    width: 3px;
    padding: 8px 12px;
    height: 28px;
  }
  section.hero .scroll-down .mousey .scroller {
    width: 3px;
    height: 8px;
  }
  section.about .about__img img {
    width: 55%;
  }
  section.about .about__text {
    font-size: 22px;
  }
  section.contact .contact__text {
    font-size: 22px;
  }
  section.contact .contact__email {
    font-size: 24px;
  }
  section.work .work__images.desktop-mobile .desktop {
    bottom: 0;
    left: 0;
    height: auto;
    width: 90%;
    max-width: 30vh;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  section.work .work__images.desktop-mobile .mobile {
    bottom: -5%;
    right: 45%;
    height: auto;
    width: 30%;
    max-width: 20vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  section.work .work__images.tiles * {
    width: 50%;
    max-width: 35vh;
    height: auto;
    top: 50%;
    left: 50%;
  }
  section.work .work__images.tiles *:first-child {
    -webkit-transform: translate(-80%, -80%);
            transform: translate(-80%, -80%);
  }
  section.work .work__images.tiles *:last-child {
    -webkit-transform: translate(-30%, -30%);
            transform: translate(-30%, -30%);
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  section.hero .scroll-down {
    bottom: 4%;
  }
  section.hero .scroll-down .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
  }
  section.hero .scroll-down .mousey .scroller {
    width: 3px;
    height: 10px;
  }
  section:not(.hero) .container {
    max-width: 1000px;
  }
  section.about .about__img img {
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
    width: 40%;
  }
  section.work .work__images.desktop-mobile .desktop {
    bottom: 0;
    left: 30%;
    height: auto;
    width: 75%;
    max-width: 35vh;
  }
  section.work .work__images.desktop-mobile .mobile {
    bottom: -5%;
    right: 45%;
    height: auto;
    width: auto;
    max-width: auto;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .work__images.tiles * {
    width: 50%;
    max-width: 35vh;
    height: auto;
    top: 50%;
    left: 50%;
  }
  .work__images.tiles *:first-child {
    -webkit-transform: translate(-80%, -80%);
            transform: translate(-80%, -80%);
  }
  .work__images.tiles *:last-child {
    -webkit-transform: translate(-30%, -30%);
            transform: translate(-30%, -30%);
  }
}
/*# sourceMappingURL=media.css.map */